# Node
node_modules/
dist/
build/

# Env
.env
.env.*
!.env.example

# Prisma
prisma/migrations/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Generated
generated/

# Uploads
uploads/
